* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  opacity: 80%;
  color: #0A0A0A;
}

.container {
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  border: 2px solid #B8B8B8;
  border-radius: 5px;
  width: 550px;
  padding: 20px;
  background-color: #fff;
}

h5 {
  font-weight: 600;
}

h6 {
  font-weight: 600;
}

button {
  margin-top: 1em;
}

